In [1]:
import os
import pandas as pd

In [2]:
source_dir=os.path.join('..','sourcedata','qualtrics')
derivs_dir=os.path.join('..','derivatives')

## Comprehension

###### Import Comprehension data

In [3]:
frame=pd.DataFrame()
for file in os.listdir(source_dir):
    if file.startswith('Comprehension-'):
        df = pd.read_csv(os.path.join(source_dir,file))
        df['time']=os.path.basename(file)[14]
        frame=frame.append(df)

###### Filter & Sort

In [4]:
frame=frame.sort_values(['SSID','time']).set_index(['SSID','time'])
frame.head()

           Score-sum  01a  02a  03a  04a  05a  06a  07a  08a  09b  10a  11b  \
SSID time
101  1           9.0    2    1    3    2    3    1    2  2.0  1.0    4  2.0
     2          12.0    3    1    3    2    3    2    3  3.0  1.0    4  2.0
102  1          10.0    2    1    3    1    1    2    2  4.0  1.0    1  2.0
     2          11.0    2    1    3    1    1    2    2  3.0  4.0    3  2.0
103  1           7.0    2    1    3    1    3    2    3  1.0  2.0    3  3.0

           12b  13b  14a  15b  16b  17b
SSID time
101  1       1    3  1.0  3.0    4  3.0
     2       1    2  1.0  3.0    4  3.0
102  1       4    3  2.0  3.0    4  2.0
     2       3    4  4.0  2.0    1  3.0
103  1       4    2  3.0  3.0    4  2.0

###### Output

In [5]:
frame.to_csv(os.path.join(derivs_dir,'comprehension_data.csv'))

# Survey Blocks

###### Import & combine Survey data

In [6]:
frames=[]
for file in os.listdir(source_dir):
    if file.startswith('Survey-'):
        df = pd.read_csv(os.path.join(source_dir,file))
        frames.append(df)
frame = frames[1].merge(frames[0],'outer',on='SSID')
frame.head()

,Score-sum_x,SSID,Condition,Age,Gender,EduYears,CurrentStudent,Major,Major_TEXT,SciDegree,...,SciTude-09,SciTude-10,SciTude-11r,SciTude-12,SciTude-13r,SciTude-14r,SciTude-15,SciTude-16r,SciTude-17r,SciTude-18r
0,30.0,101,1.0,20.0,2.0,14,1.0,5.0,Biomedical Sciences,NaN,...,3,3,1,4,1,3,4,2,2,2
1,26.0,102,2.0,19.0,2.0,12,1.0,5.0,Forensic Science,NaN,...,5,4,1,2,1,1,1,1,1,1
2,28.0,103,3.0,18.0,1.0,12,1.0,2.0,communications,NaN,...,2,2,3,2,1,3,3,3,3,2
3,28.0,104,1.0,18.0,1.0,12,1.0,5.0,Statistics,NaN,...,4,4,5,4,1,4,5,1,1,1
4,28.0,105,2.0,18.0,1.0,12,1.0,5.0,Biomedical Sciences,NaN,...,1,3,4,4,1,2,4,1,1,1

###### Output

In [7]:
frame.to_csv(os.path.join(derivs_dir,'survey_data.csv'),index=False)