In [1]:
import os, pandas as pd, numpy as np

In [2]:
source_dir = os.path.join('..','derivatives','0.3.cleaned')
output_dir = os.path.join('..','derivatives','0.4.joined')

In [3]:
frames=[pd.read_csv(os.path.join(source_dir,f)) for f in os.listdir(source_dir) if 'subject' in f]

# Cognitive Tasks

### Comprehension

In [4]:
comp_df = frames[0].set_index(['SSID','time'])
comp_df = comp_df.unstack('time')['Score-sum'].reset_index()
comp_df['comp_change'] = comp_df[2] - comp_df[1]
comp_df = comp_df.rename(columns={'SSID':'sub',1:'comp_t1',2:'comp_t2'})
comp_df.head()

time  sub  comp_t1  comp_t2  comp_change
0     101      9.0     12.0          3.0
1     102     10.0     11.0          1.0
2     103      7.0     13.0          6.0
3     104      9.0     15.0          6.0
4     105      8.0      9.0          1.0

### N-back

In [5]:
nback_df = frames[1][['sub','RT','CoR']].rename(columns={'RT':'nb_RT','CoR':'nb_CoR'})
nback_df.head()

   sub       nb_RT   nb_CoR
0  101  685.285714  0.81250
1  102  572.000000  0.59375
2  103  618.571429  0.87500
3  104  505.571429  0.87500
4  105  715.250000  0.53125

### ProcSpd

In [6]:
procspd_df = frames[2].rename(columns={'Subject':'sub','RT':'procspd_RT'})
procspd_df.head()

     sub  procspd_RT
0  101.0  308.500000
1  102.0  303.850000
2  103.0  289.850000
3  104.0  302.950000
4  105.0  391.052632

# Surveys

In [7]:
frames[3] = frames[3].rename(columns={'SSID':'sub'})
frames[3].head()

,Score-sum_x,sub,Condition,Age,Gender,EduYears,CurrentStudent,Major,Major_TEXT,SciDegree,...,SciTude-09,SciTude-10,SciTude-11r,SciTude-12,SciTude-13r,SciTude-14r,SciTude-15,SciTude-16r,SciTude-17r,SciTude-18r
0,30.0,101,1.0,20.0,2.0,14,1.0,5.0,Biomedical Sciences,NaN,...,3,3,1,4,1,3,4,2,2,2
1,26.0,102,2.0,19.0,2.0,12,1.0,5.0,Forensic Science,NaN,...,5,4,1,2,1,1,1,1,1,1
2,28.0,103,3.0,18.0,1.0,12,1.0,2.0,communications,NaN,...,2,2,3,2,1,3,3,3,3,2
3,28.0,104,1.0,18.0,1.0,12,1.0,5.0,Statistics,NaN,...,4,4,5,4,1,4,5,1,1,1
4,28.0,105,2.0,18.0,1.0,12,1.0,5.0,Biomedical Sciences,NaN,...,1,3,4,4,1,2,4,1,1,1

### Demographics

In [8]:
def group_ages(age):
    if 18 <= age <= 35: return('1')
    if 65 <= age <= 90: return('2')

In [9]:
demog_df = frames[3].loc[:,[
    'sub','Condition','Age','Gender','EduYears','SciEdu_HS','SciEdu_UGrad','SciEdu_Grad'
]]

In [10]:
demog_df.loc[:,'AgeGroup'] = demog_df.loc[:,'Age'].apply(group_ages)

In [11]:
demog_df.head()

,sub,Condition,Age,Gender,EduYears,SciEdu_HS,SciEdu_UGrad,SciEdu_Grad,AgeGroup
0,101,1.0,20.0,2.0,14,4,7,0.0,1
1,102,2.0,19.0,2.0,12,3,3,0.0,1
2,103,3.0,18.0,1.0,12,3,0,0.0,1
3,104,1.0,18.0,1.0,12,4,0,0.0,1
4,105,2.0,18.0,1.0,12,6,0,0.0,1

#### Subscaling functions:
Needed for NFCS, TSSI, SciLit, SciTude, etc.

In [12]:
def sum_subscale(df,label):
    df = df.set_index('sub')
    df[label+'_sum'] = df.sum(axis=1)
    df = df.reset_index()
    return(df)

In [13]:
def reverse_score(df,max_likert,label):
    df[[
        c.strip('r') for c in df.columns if c.endswith('r')
    ]] = (max_likert +1) - df[[
        c for c in df.columns if c.endswith('r')
    ]]
    df = df[[c for c in df if not c.endswith('r')]]
    df = sum_subscale(df,label)
    return(df)

### NFCS
Need for Cognition Scale

In [14]:
nfcs_df = frames[3][['sub']+[c for c in frames[3].columns if c.startswith('NFCS')]]
nfcs_df = nfcs_df.drop(columns='NFCS-00')
nfcs_df = reverse_score(nfcs_df,5,'NFCS')
nfcs_df.head()

,sub,NFCS-01,NFCS-02,NFCS-06,NFCS-10,NFCS-11,NFCS-13,NFCS-14,NFCS-15,NFCS-18,NFCS-03,NFCS-04,NFCS-05,NFCS-07,NFCS-08,NFCS-09,NFCS-12,NFCS-16,NFCS-17,NFCS_sum
0,101,4.0,4.0,3.0,4.0,4.0,4.0,3.0,4.0,4.0,4.0,4.0,2.0,4.0,2.0,2.0,4.0,2.0,3.0,61.0
1,102,2.0,2.0,1.0,5.0,2.0,5.0,4.0,5.0,3.0,4.0,1.0,5.0,1.0,1.0,1.0,4.0,1.0,1.0,48.0
2,103,1.0,3.0,1.0,3.0,5.0,1.0,3.0,3.0,3.0,3.0,4.0,1.0,3.0,2.0,2.0,3.0,2.0,2.0,45.0
3,104,4.0,4.0,2.0,5.0,5.0,4.0,3.0,2.0,3.0,4.0,4.0,4.0,5.0,5.0,2.0,4.0,4.0,5.0,69.0
4,105,4.0,4.0,1.0,5.0,5.0,1.0,2.0,5.0,2.0,4.0,2.0,1.0,1.0,3.0,1.0,4.0,2.0,2.0,49.0

### TSSI
Trust in Science and Scientists Inventory

In [15]:
tssi_df =  frames[3][['sub']+[c for c in frames[3].columns if c.startswith('TSSI')]]
tssi_df = tssi_df.drop(columns='TSSI-00')
tssi_df = reverse_score(tssi_df,5,'TSSI')
tssi_df.head()

,sub,TSSI-05,TSSI-07,TSSI-09,TSSI-10,TSSI-11,TSSI-12,TSSI-14,TSSI-15,TSSI-16,...,TSSI-04,TSSI-06,TSSI-08,TSSI-13,TSSI-17,TSSI-18,TSSI-19,TSSI-20,TSSI-21,TSSI_sum
0,101,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,5,4,87
1,102,5,5,3,5,3,5,4,5,5,...,3,4,4,5,3,4,3,4,4,83
2,103,2,3,3,3,3,3,4,3,4,...,5,5,4,5,3,3,4,3,3,76
3,104,1,5,5,5,5,1,5,5,5,...,5,5,5,5,5,5,5,5,5,97
4,105,2,5,5,5,5,3,4,3,5,...,3,2,4,5,4,5,5,1,5,82

### Science-Related Attitudes

In [16]:
scitude_df = frames[3][['sub']+[c for c in frames[3].columns if c.startswith('SciTude')]]
scitude_df = scitude_df.drop(columns='SciTude-00')
scitude_df = reverse_score(scitude_df,5,'SciTude')
scitude_df.head()

,sub,SciTude-03,SciTude-04,SciTude-05,SciTude-06,SciTude-07,SciTude-09,SciTude-10,SciTude-12,SciTude-15,SciTude-01,SciTude-02,SciTude-08,SciTude-11,SciTude-13,SciTude-14,SciTude-16,SciTude-17,SciTude-18,SciTude_sum
0,101,5,4,4,4,4,3,3,4,4,3,5,2,5,5,3,4,4,4,70
1,102,5,5,1,3,2,5,4,2,1,3,4,4,5,5,5,5,5,5,69
2,103,5,5,3,5,2,2,2,2,3,4,5,2,3,5,3,3,3,4,61
3,104,5,5,5,5,4,4,4,4,5,5,5,3,1,5,2,5,5,5,77
4,105,4,3,5,4,1,1,3,4,4,2,3,2,2,5,4,5,5,5,62

### Science Literacy

In [17]:
sciLit_df = frames[3][['sub']+[c for c in frames[3].columns if c.startswith('SciLit')]]
sciLit_df = sciLit_df.drop(columns='SciLit-00')
sciLit_df = sum_subscale(sciLit_df,'SciLit')
sciLit_df.head()

,sub,SciLit-01,SciLit-02,SciLit-03,SciLit-04,SciLit-05,SciLit-06,SciLit-07,SciLit_sum
0,101,2,1,2,3,3,2,3,16
1,102,4,1,1,1,4,2,3,16
2,103,3,1,1,3,2,2,3,15
3,104,3,1,2,3,2,2,3,16
4,105,2,1,3,3,1,2,3,15

### Openness to Experience

In [18]:
o2xp_df = frames[3][['sub']+[c for c in frames[3].columns if c.startswith('O')]]
o2xp_df = o2xp_df.drop(columns=['Open-0','Original_Feedback'])
o2xp_df = o2xp_df.set_index('sub')
o2xp_subscales = list(set([c.split('-')[0] for c in o2xp_df.columns]))
for subscale in o2xp_subscales:
    o2xp_df[subscale+'_sum'] = o2xp_df[[c for c in o2xp_df.columns if c.startswith(subscale)]].sum(axis=1)
o2xp_df = o2xp_df.reset_index()
o2xp_df.head()

,sub,O1-3,O1-33,O1-63,O1-93,O2-8,O2-38,O2-68,O2-98,O3-13,...,O6-28,O6-58,O6-88,O6-118,O1_sum,O6_sum,O5_sum,O4_sum,O3_sum,O2_sum
0,101,2.0,2.0,3.0,2.0,4.0,4.0,4.0,2.0,4.0,...,4.0,4.0,2.0,5.0,9.0,15.0,10.0,11.0,11.0,14.0
1,102,3.0,4.0,5.0,5.0,5.0,5.0,2.0,1.0,5.0,...,3.0,2.0,4.0,4.0,17.0,13.0,15.0,17.0,14.0,13.0
2,103,4.0,4.0,4.0,4.0,3.0,4.0,3.0,3.0,4.0,...,4.0,4.0,1.0,3.0,16.0,12.0,9.0,16.0,12.0,13.0
3,104,5.0,4.0,4.0,4.0,4.0,3.0,4.0,2.0,5.0,...,4.0,2.0,3.0,2.0,17.0,11.0,11.0,14.0,12.0,13.0
4,105,5.0,5.0,2.0,5.0,1.0,4.0,2.0,2.0,5.0,...,3.0,3.0,3.0,2.0,17.0,11.0,12.0,14.0,18.0,9.0

### Shipley Vocab

In [19]:
vocab_df = frames[3][['sub']+[c for c in frames[3].columns if c.startswith('Q') or c.startswith('Score-')]]
vocab_df = vocab_df.rename(columns={'Score-sum_x':'vocab_sum'})
vocab_df.head()

   sub  vocab_sum  Score-sum_y
0  101       30.0          0.0
1  102       26.0          0.0
2  103       28.0          0.0
3  104       28.0          0.0
4  105       28.0          0.0

# Output

In [20]:
output_df = demog_df.merge(comp_df[['sub','comp_t1','comp_t2','comp_change']]
                    ).merge(nback_df[['sub','nb_RT','nb_CoR']]
                    ).merge(procspd_df[['sub','procspd_RT']]
                    ).merge(nfcs_df[['sub','NFCS_sum']]
                    ).merge(tssi_df[['sub','TSSI_sum']]
                    ).merge(vocab_df[['sub','vocab_sum']]
                    ).merge(sciLit_df[['sub','SciLit_sum']]
                    ).merge(scitude_df[['sub','SciTude_sum']]
                    ).merge(o2xp_df[['sub','O1_sum','O2_sum','O3_sum','O4_sum','O5_sum','O6_sum']])
output_df

,sub,Condition,Age,Gender,EduYears,SciEdu_HS,SciEdu_UGrad,SciEdu_Grad,AgeGroup,comp_t1,...,TSSI_sum,vocab_sum,SciLit_sum,SciTude_sum,O1_sum,O2_sum,O3_sum,O4_sum,O5_sum,O6_sum
0,101,1.0,20.0,2.0,14,4,7,0.0,1,9.0,...,87,30.0,16,70,9.0,14.0,11.0,11.0,10.0,15.0
1,102,2.0,19.0,2.0,12,3,3,0.0,1,10.0,...,83,26.0,16,69,17.0,13.0,14.0,17.0,15.0,13.0
2,103,3.0,18.0,1.0,12,3,0,0.0,1,7.0,...,76,28.0,15,61,16.0,13.0,12.0,16.0,9.0,12.0
3,104,1.0,18.0,1.0,12,4,0,0.0,1,9.0,...,97,28.0,16,77,17.0,13.0,12.0,14.0,11.0,11.0
4,105,2.0,18.0,1.0,12,6,0,0.0,1,8.0,...,82,28.0,15,62,17.0,9.0,18.0,14.0,12.0,11.0
5,106,3.0,18.0,1.0,12,4,0,0.0,1,12.0,...,77,26.0,14,70,15.0,17.0,8.0,13.0,10.0,12.0
6,107,1.0,18.0,2.0,12,4,1,0.0,1,10.0,...,87,23.0,16,62,20.0,12.0,12.0,13.0,6.0,15.0
7,108,2.0,18.0,2.0,12,5,0,0.0,1,6.0,...,76,22.0,15,63,16.0,13.0,13.0,15.0,14.0,11.0
8,109,3.0,18.0,2.0,13,5,2,0.0,1,9.0,...,95,34.0,16,86,20.0,12.0,12.0,8.0,8.0,12.0
9,110,1.0,19.0,1.0,12,4,0,0.0,1,10.0,...,78,28.0,14,70,15.0,13.0,10.0,12.0,7.0,10.0
10,111,2.0,19.0,1.0,13,3,2,0.0,1,10.0,...,83,26.0,15,68,13.0,12.0,12.0,13.0,6.0,14.0
11,112,3.0,18.0,2.0,14,4,6,0.0,1,8.0,...,68,24.0,12,61,12.0,12.0,10.0,13.0,11.0,14.0
12,113,1.0,48.0,2.0,12,5,0,0.0,None,10.0,...,84,25.0,13,66,8.0,11.0,14.0,13.0,12.0,10.0
13,114,2.0,18.0,2.0,12,4,0,0.0,1,8.0,...,79,22.0,13,69,11.0,14.0,12.0,16.0,10.0,13.0
14,115,3.0,20.0,2.0,14,3,3,0.0,1,10.0,...,79,34.0,15,64,12.0,13.0,11.0,13.0,9.0,13.0
15,116,1.0,18.0,2.0,12,2,2,0.0,1,11.0,...,84,25.0,16,58,14.0,13.0,11.0,15.0,12.0,14.0
16,117,2.0,18.0,2.0,12,6,0,0.0,1,10.0,...,77,23.0,13,70,14.0,13.0,11.0,10.0,6.0,12.0
17,118,3.0,18.0,2.0,12,4,0,0.0,1,8.0,...,79,27.0,16,73,18.0,15.0,15.0,9.0,9.0,10.0
18,119,1.0,18.0,2.0,12,5,1,0.0,1,7.0,...,90,29.0,17,75,19.0,12.0,12.0,11.0,11.0,11.0
19,120,2.0,22.0,2.0,15,3,3,0.0,1,11.0,...,82,27.0,16,69,5.0,12.0,16.0,16.0,11.0,14.0
20,121,3.0,18.0,2.0,12,3,0,0.0,1,8.0,...,79,23.0,11,58,19.0,13.0,12.0,14.0,11.0,11.0
21,122,1.0,18.0,2.0,13,4,1,0.0,1,5.0,...,67,25.0,16,54,16.0,12.0,12.0,15.0,12.0,11.0
22,125,1.0,18.0,1.0,12,6,0,0.0,1,9.0,...,84,31.0,18,68,16.0,13.0,15.0,16.0,6.0,15.0
23,201,1.0,71.0,1.0,18,8,15,0.0,2,13.0,...,89,36.0,16,78,16.0,13.0,11.0,8.0,12.0,13.0
24,204,1.0,76.0,1.0,18,4,2,0.0,2,14.0,...,96,39.0,17,86,14.0,12.0,11.0,12.0,5.0,14.0
25,126,2.0,20.0,1.0,13,4,3,0.0,1,11.0,...,66,28.0,13,61,13.0,14.0,11.0,13.0,8.0,12.0
26,127,3.0,18.0,2.0,12,5,0,0.0,1,12.0,...,82,25.0,14,74,13.0,13.0,14.0,11.0,9.0,10.0
27,207,1.0,NaN,2.0,14,4,2,NaN,None,15.0,...,73,39.0,19,78,16.0,11.0,11.0,13.0,10.0,11.0
28,203,3.0,69.0,2.0,20,10,80,5.0,2,14.0,...,86,34.0,17,80,9.0,11.0,10.0,15.0,13.0,12.0
29,205,2.0,72.0,1.0,16,5,8,0.0,2,13.0,...,97,39.0,17,87,20.0,13.0,12.0,9.0,8.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,141,2.0,18.0,2.0,12,3,2,0.0,1,10.0,...,90,26.0,12,60,8.0,15.0,11.0,14.0,15.0,12.0
48,208,2.0,70.0,2.0,14,4,2,NaN,2,8.0,...,77,32.0,17,75,15.0,16.0,12.0,13.0,12.0,14.0
49,142,3.0,NaN,2.0,12,5,1,0.0,None,11.0,...,81,29.0,14,58,13.0,14.0,11.0,13.0,11.0,11.0
50,144,2.0,19.0,1.0,13,3,4,0.0,1,11.0,...,84,36.0,17,78,19.0,17.0,12.0,14.0,7.0,15.0
51,145,3.0,22.0,1.0,14,4,2,0.0,1,12.0,...,74,29.0,14,60,15.0,16.0,14.0,12.0,13.0,11.0
52,213,1.0,71.0,1.0,12,0,0,0.0,2,5.0,...,80,35.0,17,74,7.0,15.0,12.0,14.0,11.0,13.0
53,140,1.0,18.0,2.0,12,4,1,0.0,1,15.0,...,68,31.0,15,71,18.0,12.0,11.0,9.0,8.0,12.0
54,146,1.0,18.0,2.0,12,6,2,0.0,1,10.0,...,76,29.0,15,74,19.0,13.0,12.0,12.0,7.0,12.0
55,147,2.0,18.0,2.0,12,8,2,0.0,1,10.0,...,83,31.0,16,81,20.0,12.0,10.0,12.0,7.0,14.0
56,143,1.0,18.0,2.0,13,6,2,0.0,1,9.0,...,83,27.0,19,65,15.0,16.0,14.0,11.0,6.0,14.0
57,148,3.0,18.0,1.0,12,4,1,0.0,1,10.0,...,78,31.0,13,64,10.0,12.0,14.0,15.0,9.0,10.0
58,215,3.0,NaN,1.0,12,4,0,0.0,None,10.0,...,78,33.0,18,76,15.0,17.0,12.0,10.0,7.0,12.0
59,216,1.0,66.0,2.0,14,4,4,0.0,2,13.0,...,86,32.0,19,62,8.0,14.0,12.0,14.0,11.0,11.0
60,149,1.0,21.0,2.0,15,5,12,0.0,1,13.0,...,72,33.0,18,67,13.0,14.0,10.0,12.0,10.0,14.0
61,150,2.0,18.0,2.0,12,8,1,0.0,1,10.0,...,94,32.0,12,87,17.0,14.0,12.0,13.0,8.0,14.0
62,214,2.0,81.0,2.0,16,3,12,3.0,2,7.0,...,78,37.0,18,84,12.0,8.0,10.0,11.0,11.0,15.0
63,217,2.0,80.0,2.0,HS,biology Chemistry,NaN,NaN,2,7.0,...,83,35.0,18,69,14.0,11.0,14.0,11.0,12.0,15.0
64,152,1.0,18.0,2.0,12,3,1,0.0,1,16.0,...,88,27.0,15,67,17.0,14.0,11.0,11.0,8.0,11.0
65,218,3.0,73.0,2.0,14,2,0,0.0,2,9.0,...,74,33.0,13,74,15.0,14.0,13.0,10.0,11.0,8.0
66,153,2.0,19.0,1.0,13,4,4,0.0,1,10.0,...,81,33.0,17,64,13.0,11.0,10.0,12.0,13.0,14.0
67,211,2.0,76.0,2.0,18,2,4,4.0,2,14.0,...,89,34.0,17,85,16.0,12.0,14.0,14.0,13.0,16.0
68,212,3.0,NaN,2.0,12,2,0,0.0,None,9.0,...,96,34.0,19,75,15.0,13.0,12.0,8.0,11.0,12.0
69,151,3.0,18.0,1.0,12,5,1,0.0,1,10.0,...,99,27.0,13,72,16.0,15.0,11.0,14.0,8.0,14.0
70,154,3.0,18.0,2.0,13,4,2,0.0,1,10.0,...,88,29.0,15,62,17.0,13.0,13.0,12.0,8.0,10.0
71,219,1.0,NaN,2.0,18,3,3,0.0,None,13.0,...,100,39.0,17,77,14.0,12.0,11.0,11.0,10.0,11.0
72,155,1.0,18.0,2.0,12,4,1,0.0,1,9.0,...,82,29.0,15,59,15.0,12.0,11.0,14.0,9.0,12.0
73,156,2.0,18.0,1.0,13,3,1,0.0,1,8.0,...,60,31.0,14,52,18.0,14.0,8.0,15.0,14.0,11.0
74,224,3.0,NaN,2.0,18,6,4,0.0,None,11.0,...,87,38.0,17,74,12.0,13.0,15.0,14.0,9.0,15.0
75,220,2.0,74.0,2.0,18,12,20,8.0,2,10.0,...,62,36.0,15,62,17.0,14.0,13.0,16.0,11.0,14.0
76,221,3.0,69.0,2.0,18,3,3,0.0,2,10.0,...,73,37.0,16,70,17.0,13.0,12.0,10.0,6.0,13.0

In [21]:
output_df.to_csv(os.path.join(output_dir,'all_subject_level.csv'),index=False)

# Next step
## Primary Analyses
All pre-processing is done, so now we can move on to [1.1.analysis.ipynb](1.1.analysis.ipynb), to start looking at our demographics breakdown, correlations, and group ANOVAs.