In [1]:
import os, pandas as pd, numpy as np

In [2]:
source_dir = os.path.join('..','derivatives','cleaned')
output_dir = os.path.join('..','derivatives','all_data')

In [3]:
frames=[pd.read_csv(os.path.join(source_dir,f)) for f in os.listdir(source_dir) if 'subject' in f]

# Cognitive Tasks

### Comprehension

In [4]:
comp_df = pd.DataFrame(
    {
        'sub':frames[0]['SSID'].unique(),
        'comp_change':frames[0].groupby('SSID').diff()['Score-sum'].dropna()
    }
)
comp_df.head()

   sub  comp_change
1  101          3.0
3  102          1.0
5  103          6.0
7  104          6.0
9  105          1.0

### N-back

In [5]:
nback_df = frames[1][['sub','RT','CoR']].rename(columns={'RT':'nb_RT','CoR':'nb_CoR'})
nback_df.head()

   sub       nb_RT   nb_CoR
0  101  779.888889  0.81250
1  102  626.272727  0.59375
2  103  618.571429  0.87500
3  104  505.571429  0.87500
4  105  742.913043  0.53125

### ProcSpd

In [6]:
procspd_df = frames[2].rename(columns={'Subject':'sub','RT':'procspd_RT'})
procspd_df.head()

     sub  procspd_RT
0  101.0  308.500000
1  102.0  303.850000
2  103.0  289.850000
3  104.0  302.950000
4  105.0  391.052632

# Surveys

In [7]:
frames[3] = frames[3].rename(columns={'SSID':'sub'})
frames[3].head()

,Score-sum_x,sub,Condition,Age,Gender,EduYears,CurrentStudent,Major,Major_TEXT,SciDegree,...,SciAtt-09r,SciAtt-10r,SciAtt-11,SciAtt-12r,SciAtt-13,SciAtt-14,SciAtt-15r,SciAtt-16,SciAtt-17,SciAtt-18
0,30.0,101,1.0,20.0,2.0,14.0,1.0,5.0,Biomedical Sciences,NaN,...,3,3,1,4,1,3,4,2,2,2
1,26.0,102,2.0,19.0,2.0,12.0,1.0,5.0,Forensic Science,NaN,...,5,4,1,2,1,1,1,1,1,1
2,28.0,103,3.0,18.0,1.0,12.0,1.0,2.0,communications,NaN,...,2,2,3,2,1,3,3,3,3,2
3,28.0,104,1.0,18.0,1.0,12.0,1.0,5.0,Statistics,NaN,...,4,4,5,4,1,4,5,1,1,1
4,28.0,105,2.0,18.0,1.0,12.0,1.0,5.0,Biomedical Sciences,NaN,...,1,3,4,4,1,2,4,1,1,1

In [8]:
def sum_subscale(df,label):
    df = df.set_index('sub')
    df[label+'_sum'] = df.sum(axis=1)
    df = df.reset_index()
    return(df)

In [9]:
def reverse_score(df,max_likert,label):
    df[[
        c.strip('r') for c in df.columns if c.endswith('r')
    ]] = (max_likert +1) - df[[
        c for c in df.columns if c.endswith('r')
    ]]
    df = df[[c for c in df if not c.endswith('r')]]
    df = sum_subscale(df,label)
    return(df)

### NFCS
Need for Cognition Scale

In [10]:
nfcs_df = frames[3][['sub']+[c for c in frames[3].columns if c.startswith('NFCS')]]
nfcs_df = nfcs_df.drop(columns='NFCS-00')
nfcs_df = reverse_score(nfcs_df,5,'NFCS')
nfcs_df.head()

,sub,NFCS-01,NFCS-02,NFCS-06,NFCS-10,NFCS-11,NFCS-13,NFCS-14,NFCS-15,NFCS-18,NFCS-03,NFCS-04,NFCS-05,NFCS-07,NFCS-08,NFCS-09,NFCS-12,NFCS-16,NFCS-17,NFCS_sum
0,101,4.0,4.0,3.0,4.0,4.0,4.0,3.0,4.0,4.0,4.0,4.0,2.0,4.0,2.0,2.0,4.0,2.0,3.0,61.0
1,102,2.0,2.0,1.0,5.0,2.0,5.0,4.0,5.0,3.0,4.0,1.0,5.0,1.0,1.0,1.0,4.0,1.0,1.0,48.0
2,103,1.0,3.0,1.0,3.0,5.0,1.0,3.0,3.0,3.0,3.0,4.0,1.0,3.0,2.0,2.0,3.0,2.0,2.0,45.0
3,104,4.0,4.0,2.0,5.0,5.0,4.0,3.0,2.0,3.0,4.0,4.0,4.0,5.0,5.0,2.0,4.0,4.0,5.0,69.0
4,105,4.0,4.0,1.0,5.0,5.0,1.0,2.0,5.0,2.0,4.0,2.0,1.0,1.0,3.0,1.0,4.0,2.0,2.0,49.0

### TSSI
Trust in Science and Scientists Inventory

In [11]:
tssi_df =  frames[3][['sub']+[c for c in frames[3].columns if c.startswith('TSSI')]]
tssi_df = tssi_df.drop(columns='TSSI-00')
tssi_df = reverse_score(tssi_df,5,'TSSI')
tssi_df.head()

,sub,TSSI-05,TSSI-07,TSSI-09,TSSI-10,TSSI-11,TSSI-12,TSSI-14,TSSI-15,TSSI-16,...,TSSI-04,TSSI-06,TSSI-08,TSSI-13,TSSI-17,TSSI-18,TSSI-19,TSSI-20,TSSI-21,TSSI_sum
0,101,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,5,4,87
1,102,5,5,3,5,3,5,4,5,5,...,3,4,4,5,3,4,3,4,4,83
2,103,2,3,3,3,3,3,4,3,4,...,5,5,4,5,3,3,4,3,3,76
3,104,1,5,5,5,5,1,5,5,5,...,5,5,5,5,5,5,5,5,5,97
4,105,2,5,5,5,5,3,4,3,5,...,3,2,4,5,4,5,5,1,5,82

### Science-Related Attitudes

In [12]:
scitude_df = frames[3][['sub']+[c for c in frames[3].columns if c.startswith('SciAtt')]]
scitude_df = scitude_df.drop(columns='SciAtt-00')
scitude_df = reverse_score(scitude_df,5,'SciTude')
scitude_df.head()

,sub,SciAtt-01,SciAtt-02,SciAtt-08,SciAtt-11,SciAtt-13,SciAtt-14,SciAtt-16,SciAtt-17,SciAtt-18,SciAtt-03,SciAtt-04,SciAtt-05,SciAtt-06,SciAtt-07,SciAtt-09,SciAtt-10,SciAtt-12,SciAtt-15,SciTude_sum
0,101,3,1,4,1,1,3,2,2,2,1,2,2,2,2,3,3,2,2,38
1,102,3,2,2,1,1,1,1,1,1,1,1,5,3,4,1,2,4,5,39
2,103,2,1,4,3,1,3,3,3,2,1,1,3,1,4,4,4,4,3,47
3,104,1,1,3,5,1,4,1,1,1,1,1,1,1,2,2,2,2,1,31
4,105,4,3,4,4,1,2,1,1,1,2,3,1,2,5,5,3,2,2,46

### Science Literacy

In [13]:
sciLit_df = frames[3][['sub']+[c for c in frames[3].columns if c.startswith('SciLit')]]
sciLit_df = sciLit_df.drop(columns='SciLit-00')
sciLit_df = sum_subscale(sciLit_df,'SciLit')
sciLit_df.head()

,sub,SciLit-01,SciLit-02,SciLit-03,SciLit-04,SciLit-05,SciLit-06,SciLit-07,SciLit_sum
0,101,2,1,2,3,3,2,3,16
1,102,4,1,1,1,4,2,3,16
2,103,3,1,1,3,2,2,3,15
3,104,3,1,2,3,2,2,3,16
4,105,2,1,3,3,1,2,3,15

### Openness to Experience

In [14]:
o2xp_df = frames[3][['sub']+[c for c in frames[3].columns if c.startswith('O')]]
o2xp_df = o2xp_df.drop(columns=['Open-0','Original_Feedback'])
o2xp_df = o2xp_df.set_index('sub')
o2xp_subscales = list(set([c.split('-')[0] for c in o2xp_df.columns]))
for subscale in o2xp_subscales:
    o2xp_df[subscale+'_sum'] = o2xp_df[[c for c in o2xp_df.columns if c.startswith(subscale)]].sum(axis=1)
o2xp_df = o2xp_df.reset_index()
o2xp_df.head()

,sub,O1-3,O1-33,O1-63,O1-93,O2-8,O2-38,O2-68,O2-98,O3-13,...,O6-28,O6-58,O6-88,O6-118,O4_sum,O3_sum,O2_sum,O1_sum,O5_sum,O6_sum
0,101,2.0,2.0,3.0,2.0,4.0,4.0,4.0,2.0,4.0,...,4.0,4.0,2.0,5.0,11.0,11.0,14.0,9.0,10.0,15.0
1,102,3.0,4.0,5.0,5.0,5.0,5.0,2.0,1.0,5.0,...,3.0,2.0,4.0,4.0,17.0,14.0,13.0,17.0,15.0,13.0
2,103,4.0,4.0,4.0,4.0,3.0,4.0,3.0,3.0,4.0,...,4.0,4.0,1.0,3.0,16.0,12.0,13.0,16.0,9.0,12.0
3,104,5.0,4.0,4.0,4.0,4.0,3.0,4.0,2.0,5.0,...,4.0,2.0,3.0,2.0,14.0,12.0,13.0,17.0,11.0,11.0
4,105,5.0,5.0,2.0,5.0,1.0,4.0,2.0,2.0,5.0,...,3.0,3.0,3.0,2.0,14.0,18.0,9.0,17.0,12.0,11.0

### Shipley Vocab

In [15]:
vocab_df = frames[3][['sub']+[c for c in frames[3].columns if c.startswith('Q') or c.startswith('Score-')]]
vocab_df = vocab_df.rename(columns={'Score-sum_x':'vocab_sum'})
vocab_df.head()

,sub,vocab_sum,Q35,Q36,Q37,Q38,Q39,Q40,Q41,Q42,...,Q67,Q68,Q69,Q70,Q71,Q72,Q73,Q74,Q75,Score-sum_y
0,101,30.0,1.0,3.0,1.0,1.0,3.0,2.0,3.0,4.0,...,3.0,2.0,4.0,1.0,4.0,1.0,2.0,1.0,3.0,0.0
1,102,26.0,1.0,3.0,1.0,1.0,3.0,2.0,1.0,4.0,...,3.0,4.0,2.0,3.0,1.0,1.0,3.0,2.0,1.0,0.0
2,103,28.0,1.0,3.0,1.0,1.0,3.0,2.0,3.0,4.0,...,3.0,2.0,2.0,1.0,1.0,1.0,3.0,3.0,1.0,0.0
3,104,28.0,1.0,3.0,1.0,1.0,3.0,2.0,3.0,2.0,...,4.0,4.0,1.0,3.0,3.0,3.0,2.0,1.0,2.0,0.0
4,105,28.0,1.0,3.0,1.0,1.0,3.0,2.0,3.0,4.0,...,1.0,1.0,3.0,2.0,1.0,2.0,4.0,1.0,2.0,0.0

# Output

In [16]:
output_df = comp_df.merge(nback_df[['sub','nb_RT','nb_CoR']])
output_df = output_df.merge(procspd_df[['sub','procspd_RT']])
output_df = output_df.merge(nfcs_df[['sub','NFCS_sum']])
output_df = output_df.merge(tssi_df[['sub','TSSI_sum']])
output_df = output_df.merge(vocab_df[['sub','vocab_sum']])
output_df = output_df.merge(sciLit_df[['sub','SciLit_sum']])
output_df = output_df.merge(scitude_df[['sub','SciTude_sum']])
output_df = output_df.merge(o2xp_df[['sub','O1_sum','O2_sum','O3_sum','O4_sum','O5_sum','O6_sum']])
output_df

,sub,comp_change,nb_RT,nb_CoR,procspd_RT,NFCS_sum,TSSI_sum,vocab_sum,SciLit_sum,SciTude_sum,O1_sum,O2_sum,O3_sum,O4_sum,O5_sum,O6_sum
0,101,3.0,779.888889,0.81250,308.500000,61.0,87,30.0,16,38,9.0,14.0,11.0,11.0,10.0,15.0
1,102,1.0,626.272727,0.59375,303.850000,48.0,83,26.0,16,39,17.0,13.0,14.0,17.0,15.0,13.0
2,103,6.0,618.571429,0.87500,289.850000,45.0,76,28.0,15,47,16.0,13.0,12.0,16.0,9.0,12.0
3,104,6.0,505.571429,0.87500,302.950000,69.0,97,28.0,16,31,17.0,13.0,12.0,14.0,11.0,11.0
4,105,1.0,742.913043,0.53125,391.052632,49.0,82,28.0,15,46,17.0,9.0,18.0,14.0,12.0,11.0
5,106,4.0,1186.700000,0.31250,264.210526,75.0,77,26.0,14,38,15.0,17.0,8.0,13.0,10.0,12.0
6,107,0.0,779.250000,1.00000,300.500000,62.0,87,23.0,16,46,20.0,12.0,12.0,13.0,6.0,15.0
7,108,6.0,721.750000,0.84375,341.100000,53.0,76,22.0,15,45,16.0,13.0,13.0,15.0,14.0,11.0
8,109,3.0,764.000000,0.84375,311.850000,83.0,95,34.0,16,22,20.0,12.0,12.0,8.0,8.0,12.0
9,110,3.0,862.857143,0.87500,305.750000,58.0,78,28.0,14,38,15.0,13.0,10.0,12.0,7.0,10.0
10,111,4.0,773.250000,1.00000,267.529412,62.0,83,26.0,15,40,13.0,12.0,12.0,13.0,6.0,14.0
11,112,3.0,736.777778,0.65625,247.263158,62.0,68,24.0,12,47,12.0,12.0,10.0,13.0,11.0,14.0
12,113,1.0,847.000000,0.75000,368.200000,59.0,84,25.0,13,42,8.0,11.0,14.0,13.0,12.0,10.0
13,114,6.0,595.750000,0.84375,307.200000,60.0,79,22.0,13,39,11.0,14.0,12.0,16.0,10.0,13.0
14,115,5.0,612.875000,1.00000,320.500000,66.0,79,34.0,15,44,12.0,13.0,11.0,13.0,9.0,13.0
15,116,1.0,968.000000,0.96875,314.500000,43.0,84,25.0,16,50,14.0,13.0,11.0,15.0,12.0,14.0
16,117,6.0,858.421053,0.65625,355.150000,66.0,77,23.0,13,38,14.0,13.0,11.0,10.0,6.0,12.0
17,118,6.0,865.428571,0.50000,286.100000,64.0,79,27.0,16,35,18.0,15.0,15.0,9.0,9.0,10.0
18,119,1.0,753.875000,1.00000,286.450000,71.0,90,29.0,17,33,19.0,12.0,12.0,11.0,11.0,11.0
19,120,5.0,790.142857,0.43750,309.900000,65.0,82,27.0,16,39,5.0,12.0,16.0,16.0,11.0,14.0
20,121,-2.0,850.466667,0.46875,594.117647,50.0,79,23.0,11,50,19.0,13.0,12.0,14.0,11.0,11.0
21,122,6.0,NaN,0.00000,271.388889,57.0,67,25.0,16,54,16.0,12.0,12.0,15.0,12.0,11.0
22,123,4.0,724.555556,0.96875,246.350000,51.0,88,29.0,13,37,14.0,14.0,11.0,19.0,16.0,12.0
23,124,5.0,890.666667,0.81250,295.052632,80.0,97,33.0,17,31,20.0,16.0,16.0,12.0,11.0,12.0
24,125,4.0,744.375000,1.00000,262.550000,73.0,84,31.0,18,40,16.0,13.0,15.0,16.0,6.0,15.0
25,126,1.0,633.875000,0.84375,262.947368,66.0,66,28.0,13,47,13.0,14.0,11.0,13.0,8.0,12.0
26,127,4.0,1045.888889,0.81250,270.210526,72.0,82,25.0,14,34,13.0,13.0,14.0,11.0,9.0,10.0
27,128,2.0,522.750000,1.00000,407.950000,56.0,66,31.0,18,57,16.0,12.0,10.0,10.0,13.0,12.0
28,129,3.0,708.800000,0.78125,287.300000,69.0,81,26.0,20,40,13.0,12.0,12.0,10.0,10.0,14.0
29,130,3.0,525.750000,0.50000,288.300000,34.0,75,25.0,15,47,10.0,14.0,8.0,14.0,15.0,10.0
30,131,1.0,881.222222,0.96875,318.300000,57.0,82,32.0,18,54,18.0,18.0,13.0,14.0,8.0,12.0
31,132,5.0,1249.571429,0.71875,238.789474,80.0,95,31.0,17,28,20.0,12.0,16.0,16.0,9.0,16.0
32,133,3.0,1144.500000,0.59375,217.000000,73.0,84,29.0,13,25,17.0,12.0,15.0,8.0,8.0,14.0
33,134,4.0,649.142857,0.87500,239.526316,60.0,77,28.0,17,49,11.0,16.0,9.0,15.0,13.0,12.0
34,135,0.0,808.500000,0.25000,297.000000,64.0,77,28.0,14,39,14.0,14.0,12.0,14.0,12.0,12.0
35,136,2.0,644.625000,1.00000,309.850000,74.0,84,31.0,14,31,20.0,15.0,12.0,11.0,7.0,15.0
36,138,4.0,645.444444,0.96875,253.200000,39.0,83,32.0,16,37,16.0,16.0,12.0,14.0,15.0,13.0
37,139,8.0,415.250000,1.00000,283.550000,48.0,80,23.0,15,44,6.0,15.0,12.0,12.0,8.0,13.0
38,141,4.0,662.888889,0.65625,264.166667,56.0,90,26.0,12,48,8.0,15.0,11.0,14.0,15.0,12.0
39,142,4.0,574.571429,0.56250,316.200000,41.0,81,29.0,14,50,13.0,14.0,11.0,13.0,11.0,11.0
40,144,5.0,766.285714,0.87500,306.850000,70.0,84,36.0,17,30,19.0,17.0,12.0,14.0,7.0,15.0
41,145,1.0,577.875000,1.00000,266.850000,57.0,74,29.0,14,48,15.0,16.0,14.0,12.0,13.0,11.0
42,201,1.0,621.000000,1.00000,307.950000,82.0,89,36.0,16,30,16.0,13.0,11.0,8.0,12.0,13.0
43,202,3.0,753.250000,0.84375,407.700000,73.0,87,36.0,18,35,10.0,13.0,12.0,10.0,11.0,14.0
44,203,1.0,970.000000,0.84375,362.000000,61.0,86,34.0,17,28,9.0,11.0,10.0,15.0,13.0,12.0
45,204,0.0,1253.181818,0.59375,421.750000,75.0,96,39.0,17,22,14.0,12.0,11.0,12.0,5.0,14.0
46,205,3.0,742.833333,0.59375,279.000000,79.0,97,39.0,17,21,20.0,13.0,12.0,9.0,8.0,11.0
47,206,1.0,811.818182,0.43750,298.250000,62.0,87,37.0,18,36,10.0,13.0,7.0,11.0,13.0,13.0
48,207,1.0,671.000000,0.68750,318.368421,69.0,73,39.0,19,30,16.0,11.0,11.0,13.0,10.0,11.0
49,208,8.0,1062.428571,0.09375,292.200000,68.0,77,32.0,17,33,15.0,16.0,12.0,13.0,12.0,14.0
50,209,3.0,1120.727273,0.90625,307.470588,62.0,78,36.0,16,30,10.0,10.0,10.0,9.0,10.0,11.0
51,210,0.0,821.875000,0.68750,371.111111,63.0,82,37.0,16,25,11.0,14.0,11.0,9.0,8.0,13.0

In [18]:
output_df.to_csv(os.path.join(output_dir,'subject_level_data.csv'),index=False)