In [1]:
import os,pandas as pd, numpy as np

In [2]:
source_dir = os.path.join('..','derivatives','all_data')

In [3]:
data = pd.read_csv(os.path.join(source_dir,'subject_level_data.csv'))
data.head()

,sub,Condition,Age,Gender,EduYears,SciEdu_HS,SciEdu_UGrad,SciEdu_Grad,comp_change,nb_RT,...,TSSI_sum,vocab_sum,SciLit_sum,SciTude_sum,O1_sum,O2_sum,O3_sum,O4_sum,O5_sum,O6_sum
0,101,1.0,20.0,2.0,14.0,4,7,0.0,3.0,779.888889,...,87,30.0,16,38,9.0,14.0,11.0,11.0,10.0,15.0
1,102,2.0,19.0,2.0,12.0,3,3,0.0,1.0,626.272727,...,83,26.0,16,39,17.0,13.0,14.0,17.0,15.0,13.0
2,103,3.0,18.0,1.0,12.0,3,0,0.0,6.0,618.571429,...,76,28.0,15,47,16.0,13.0,12.0,16.0,9.0,12.0
3,104,1.0,18.0,1.0,12.0,4,0,0.0,6.0,505.571429,...,97,28.0,16,31,17.0,13.0,12.0,14.0,11.0,11.0
4,105,2.0,18.0,1.0,12.0,6,0,0.0,1.0,742.913043,...,82,28.0,15,46,17.0,9.0,18.0,14.0,12.0,11.0

# Correlations

### Pearson
Pearson product-moment correlation coefficients

In [20]:
data.corr('pearson')['comp_change']

sub           -0.210294
Condition      0.232887
Age           -0.193054
Gender        -0.077340
EduYears      -0.286348
SciEdu_Grad   -0.230621
comp_change    1.000000
nb_RT         -0.106276
nb_CoR        -0.083402
procspd_RT    -0.435057
NFCS_sum       0.012849
TSSI_sum      -0.056642
vocab_sum     -0.233281
SciLit_sum     0.002303
SciTude_sum   -0.001162
O1_sum        -0.119793
O2_sum         0.264519
O3_sum         0.125986
O4_sum         0.153985
O5_sum        -0.033868
O6_sum         0.049419
Name: comp_change, dtype: float64

### Spearman

In [19]:
data.corr('spearman')['comp_change']

sub           -0.189875
Condition      0.248082
Age           -0.294829
Gender        -0.073469
EduYears      -0.249546
SciEdu_Grad   -0.169673
comp_change    1.000000
nb_RT         -0.144086
nb_CoR        -0.020962
procspd_RT    -0.339263
NFCS_sum       0.014628
TSSI_sum      -0.125584
vocab_sum     -0.236654
SciLit_sum    -0.069300
SciTude_sum    0.009474
O1_sum        -0.054273
O2_sum         0.273664
O3_sum         0.182744
O4_sum         0.207234
O5_sum        -0.051202
O6_sum         0.018891
Name: comp_change, dtype: float64